// 基础配色
$white:#ffffff;
$lightWhite:#dbdbdb;
$black:#000;
$lightBlack:#41484d;
$orange:#fac500;
$lightOrange:#feffe8;
$gray:#818181;
$lightGray:#979797;


// 系统配色
$title: #faf9f7;
$base: #4d4c4c;
$quote: #99c24d;
$special: #c1bfb5;
$background: #f2f2f5;
$textColor:#414141;
$borderColor:#ececec;
$priceColor:#ff1616;